.root {
    -fx-background-radius: 10px;
    -fx-accent: #DC8850;
    -fx-focus-color: -fx-accent;
    -fx-base: rgba(40, 36, 37, 0.8);
    -fx-background-color: -fx-base;
    -fx-control-inner-background: -fx-base;
    -fx-control-inner-background-alt: -fx-control-inner-background;
    -fx-font-family: 'JetBrains Mono', monospace;
}

.text-field {
    -fx-prompt-text-fill: #282425;
}

.titulo {
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}

.button:default {
    -fx-base: -fx-accent;
}

.button {
    -fx-background-color: transparent;
    -fx-focus-traversable: false;
    -fx-cursor: hand;
}

.button:hover {
    -fx-text-fill: #282425;
}

.scroll-bar {
    -fx-background-color: derive(-fx-base, 45%)
}

#menu {
    -fx-background-color: rgba(40, 36, 37, 0.8);
    -fx-background-radius: 10px 10px 0px 0px;
}

#layout, #restartLayout {
    -fx-background-radius: 10px;
}

#close, #minimize {
    -fx-text-fill: #e4d8b4;
}

#close:hover, #minimize:hover {
    -fx-text-fill: #EDE6D4;
}

#close {
    -fx-background-radius: 10px 0px 0px 0px;
}

#close:hover {
    -fx-background-color: #dc2626;
}

#minimize {
    -fx-background-radius: 0px;
}

#minimize:hover {
    -fx-background-color: #2563eb;
}

#gameStatus, #gameScore {
    -fx-text-fill: #a4cbb4;
    -fx-font-weight: 900;
    -fx-font-size: 20px;

}

#single, #online, #restartBtn {
    -fx-label-padding: 10px;
    -fx-text-fill: #282425;
    -fx-background-color: #a4cbb4;
    -fx-background-radius: 40px;
    -fx-pref-width: 200px;
    -fx-font-size: 20px;
    -fx-font-weight: 600;
    -fx-cursor: hand;
    -fx-border-width: 0;
}

#single:hover, #online:hover {
    -fx-background-color: derive(#a4cbb4, -15%);
}

#btn7 {
    -fx-background-radius: 0px 0px 0px 10px !important;
}

#btn9 {
    -fx-background-radius: 0px 0px 10px 0px !important;
}

#board > .button {
    -fx-background-radius: 0px;
    -fx-font-size: 40px;
    -fx-font-weight: 900;
}



#board > .button:hover {
    -fx-background-color: rgba(164, 203, 180, 0.4);
}
