#menu {
    -fx-background-color: rgba(40, 36, 37, 0.9);
    -fx-background-radius: 10px 10px 0px 0px;
}

#layout, #restartLayout {
    -fx-background-radius: 10px;
}

#close, #minimize, #logWindow, #backToMainMenu {
    -fx-text-fill: #e4d8b4;
}

#close:hover, #minimize:hover, #logWindow:hover, #backToMainMenu:hover {
    -fx-text-fill: #EDE6D4;
}

#close {
    -fx-background-radius: 10px 0px 0px 0px;
}

#close:hover {
    -fx-background-color: #dc2626;
}



#logWindow:hover {
    -fx-background-color: #DC8850;
}

#backToMainMenu:hover {
    -fx-background-color: #ef9995;

}

#minimize:hover {
    -fx-background-color: #2563eb;
}

#clearLogs:hover{
    -fx-background-color: #e4d8b4;
}


#minimize, #logWindow, #backToMainMenu, #clearLogs {
    -fx-background-radius: 0px;
}