#menu {
    -fx-background-color: #1E1E2EFF;
    -fx-background-radius: 10px 10px 0px 0px;
}

#layout, #restartLayout {
    -fx-background-radius: 10px;
}

#close, #minimize, #logWindow, #backToMainMenu {
    -fx-text-fill: #CDD6F4;
}

#close:hover, #minimize:hover, #logWindow:hover, #backToMainMenu:hover {
    -fx-text-fill: #CDD6F4;
}

#close {
    -fx-background-radius: 10px 0px 0px 0px;
}

#close:hover {
    -fx-background-color: #dc2626;
}



#logWindow:hover, #backToMainMenu:hover, #minimize:hover, #clearLogs:hover  {

    -fx-background-color: derive(#1E1E2EFF, 15%);
}

#minimize, #logWindow, #backToMainMenu, #clearLogs {
    -fx-background-radius: 0px;
}